﻿@{
    ViewData["Title"] = "Тестовое задание";
}
<script>
    LoadGroupMembers = function () {
        var form = document.getElementsByClassName('needs-validation')[0];
        
        if (form.checkValidity() === true) {
            $('#groupName').addClass('is-valid').removeClass('is-invalid');
            var groupName = $('#groupName').val();
            $.post('/Home/ShowGroupMembers', { 'GroupName': groupName }, function (data) {
                var list = $('#groupMembers');
                list.empty();
                if (data && data.length>0) {
                  
                    
                    data.forEach(function (item, idx) {
                        var li = $(`<li class="list-group-item list-group-item-primary">${item}</li>`);
                        list.append(li);
                    });
                    list.show();
                }

            });
        }
        else {
            $('#groupName').addClass('is-invalid').removeClass('is-valid');
        }
       
    }
</script>
<div class="jumbotron">
    <form class="needs-validation" >
        <div class="form-group">
            <label for="groupName">Введите название группы</label>
            <input type="text" class="form-control" id="groupName" required>

        </div>

        <button type="button" class="btn btn-primary" onclick="LoadGroupMembers()">Загрузить список</button>
    </form>
    <br />
    <ul class="list-group" id="groupMembers" style="display:none;"></ul>
</div>
